<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Modify Customer</h3>
<p>
    <a th:href="@{/product}">
        Back to customer list
    </a>
</p>
<div id="form" th:object="${product}">

        <div>
            <label>Id</label>
            <input type="text" disabled th:field="*{productId}"/>
        </div>
        <div>
            <label>Name</label>
            <input type="text" disabled th:field="*{productName}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="text" disabled th:field="*{productPrice}"/>
        </div>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>